.box{
  display: flex;
  justify-content: center;
  font-family: monospace;

  }

  .box2{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: monospace;
    color: rgb(10, 9, 9);
    align-items: center;
  }
 .container{
    width: 30%;
    border-radius: 5px;
    background-color: #1b643c21;
    padding: 20px;
 }

  input[type="text"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: monospace;
  }
  input[type="submit"] {
    background-color: #499394;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
  }
  input[type="submit"]:hover {
    background-color: #56b3b9;
  }
  

  .error{
    background-color: rgba(201, 40, 40, 0.438);
     border: 1px solid #9c2020;
  }

  h3{
    width: 80%;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
  
  }
  .noerror{
    background-color: whitesmoke;
    border: 1px solid #56b3b9;
  }

  .rojo{
    background-color: rgba(201, 40, 40, 0.438);
    border: 1px solid #9c2020;
  }

  .verde{
    background-color: rgba(40, 201, 53, 0.438);
    border: 1px solid #209c58;
  }